{{define "content"}}
<a href="/show/{{.Title}}"><h3>{{.Title}}</h3></a>
<div>
  <form role="form" action="/create" method="POST">
    <div class="form-group">
      <textarea class="form-control" name="gist" rows="20" cols="80" id="editor">{{printf "%s" .Body}}</textarea>
      <script>
        element = document.getElementById("editor");
        CodeMirror.fromTextArea(element, {lineNumbers: true});
      </script>
    </div>
    <div class="form-group">
      <input type="hidden" name="gist-name" value="{{.Title}}"/>
      <input type="hidden" name="api" value="edit"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;&nbsp;
      <a href="/show/{{.Title}}" class="btn btn-primary" role="button">Cancel</a>
    </div>
  </form>
</div>
{{end}}
