<head>
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
</head>
<body>
<form role="form" action="/create" method="POST">
  <h3>Edit Gist - {{.Title}}</h3><br>
  <input type="hidden" name="gist-name" value="{{.Title}}"/>
  <div class="form-group" >
    <textarea name="gist" rows="20" cols="80" class="form-control">{{printf "%s" .Body}}</textarea>
  </div>
  <br><div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div class="form-group">
    <a href="/view/{{.Title}}" class="btn btn-primary" role="button">Cancel</a>
  </div></div>
</form>
<body>
