<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <div class="page-header">
      <h2 align="center">YAGG</h2>
    </div>
    <h4 id="header">Past Commits - {{.Title}}</h4>
    <div id="wrapper">
      {{range $element := .CDiffs}}
      <span><br><b>Committed at {{$element.CommitedOn}}</b></span>
      <div class="btn-group pull-right">
        <a href="/show-by-id/{{$.Title}}/{{$element.CommitId}}" class="btn btn-default" role="button"><b>View</b></a>
        <br>
        <a href="/raw-by-id/{{$.Title}}/{{$element.CommitId}}" class="btn btn-default" role="button"><b>Raw</b></a>
        <br>
        <a href="/download-by-id/{{$.Title}}/{{$element.CommitId}}" class="btn btn-default" role="button"><b>Download</b></a>
      </div>
      <div class="diff"><pre>{{printf "%s" $element.DiffString}}<pre></div>
      {{ end }}
      <br>
    <a href="/view/{{.Title}}" class="btn btn-primary" role="button">Back</a>
    </div>
  </body>
</html>
