<head>
  <link rel="stylesheet" type="text/css" href="/assets/mystyle.css">
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/codemirror.css">
  <script type="text/javascript" src="/javascripts/codemirror.js"></script>
</head>
<body>
  <div class="page-header">
    <h2 align="center">YAGG</h2>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h2>Gist List<h2></div>
    <div class="panel-body">
      {{if .List}}
      <ul class="list-group">
        {{ range $element := .List }}
        <li class="list-group-item"><a href="/show/{{$element}}">{{$element}}</a></li>
      {{ end }}
      </ul>
      {{else}}
        <b>No gist added yet</b>
      {{end}}
    </div>
  </div>
</body>
