<head>
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
</head>
<body>
<form role="form" action="/create" method="POST">
  <h3>New Gist</h3><br>
  <div class="form-group" >
    <textarea name="gist" rows="20" cols="80" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <h3>Gist Name:&nbsp;&nbsp;</h3>
    <input type="text" name="gist-name" class="form-control">
  </div>
  <br>
  <div class="form-group">
    <div><button type="submit" class="btn btn-primary">Create Gist</button></div>
    <br>
    <div><a href="/list/">Show all gists</a></div>
  </div>
</form>
<body>
