<head>
  <link rel="stylesheet" type="text/css" href="/assets/mystyle.css">
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/codemirror.css">
  <script type="text/javascript" src="/javascripts/codemirror.js"></script>
</head>
<body>
  <div class="page-header">
    <h2 align="center">YAGG</h2>
  </div>

  <div class="container">
    <form role="form" action="/create" method="POST">
      <div class="form-group">
        <h3>Gist Name:&nbsp;&nbsp;</h3>
        <div name="error" style="color: red;">{{.Message}}</div>
        <input type="text" name="gist-name" class="form-control" required>
      </div>
      <div class="form-group">
        <input type="hidden" name="api" value="new"/>
      </div>
      <h3>New Gist:</h3>
      <div class="form-group">
        <textarea name="gist" rows="20" cols="80" class="form-control" id="editor"></textarea>
        <script>
          element = document.getElementById("editor");
          CodeMirror.fromTextArea(element, {lineNumbers: true});
        </script>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Gist</button>
        <a href="/list/" class="btn btn-primary pull-right" role="button">Show all gists</a>
      </div>
    </form>
  </div>
</body>
