<head>
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
</head>
<body>
<form role="form" action="/create" method="POST">
  <h3>New Gist</h3><br>
  <div class="form-group" >
    <textarea name="paste" rows="20" cols="80" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <h3>Paste Name:&nbsp;&nbsp;</h3>
    <input type="text" name="paste-name" class="form-control">
  </div>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create Paste</button>
  </div>
</form>
<body>
