{{ define "content" }}
<br><br><br>
<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="container">
      <div style="float:left;"><h4>View Gist - {{.Title}}</h4></div>
      <div class="btn-group pull-right" style="float:right;">
        <a href="/raw/{{.Title}}" target="_blank" class="btn btn-default">Raw</a>
        <a href="/download/{{.Title}}" class="btn btn-default">Download</a>
        <a href="/history/{{.Title}}" class="btn btn-default">History</a>
        <a href="/edit/{{.Title}}" class="btn btn-default">Edit</a>
      </div>
    </div>
    </div>
    <div class="panel-body">
      <pre>
        <div id="view">{{printf "%s" .Body}}</div>
        <script>
          hljs.highlightBlock(document.getElementById("view"));
        </script>
      </pre>
    </div>
  </div>
</div>
{{end}}
